* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    background-color: white;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 250px;
    height: 90px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    color: black;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/pictures/annie-spratt-1YnBzhJISg4-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    text-align: center;
}
.home .home-content .text-1{
    font-size: 75px;
    font-weight: 700;
    margin-left: -3;
}
.home .home-content .text-2{
    font-size: 27px;
    margin: 5px 0;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
    text-align: center;
    cursor: pointer;
}
.home .home-content a:hover{
    color: red;
    background: rgba(255, 255, 255, 0.7);
}
.menu-btn{
    color: red;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.text-1{
    color: white;
}
.text-3,.text-4,.text-5{
    font-size: 1.2em;
    line-height:1.5;
    font-weight: bold;
}

.about a{
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
    text-align: center;
    cursor: pointer;
}
.about a:hover{
    color: red;
    background: rgba(255, 255, 255, 0.7);
    
}

.about{
    padding: 50px;
    text-align: center;
    align-items: center;
    line-height: 1.5;
    font-size: 1.2em;
}

/* responsive media queries */
@media (max-width: 1300px){

}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.4s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }
    .home .home-content .text-1{
        font-size: 70px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
}
.vmo-context{
    float: left;
    width: 50%;
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 60px;
    }
    .home .home-content .text-2{
        font-size: 20px;
    }
    .home .home-content a{
        font-size: 10px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-1{
        font-size: 50px;
    }
    .home .home-content .text-2{
        font-size: 16px;
    }
}

.footer-container {background-color: #212329;
    padding: 4rem 0 4rem 0;}
.footer {width: 100%;
height: 30vh;
background-color:darkslategray;
color: #fff;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;}  
.footer-heading {display: flex;
    flex-direction: column;
    margin-right:4rem;
}  
.footer-heading h2 {margin-bottom: 2rem;
}    
.footer-heading a {color: #fff;
       text-decoration: none;
       margin-bottom: 0.5rem;
}  
.footer-heading a:hover {color:red;
            transition: 0.3s ease-out;}   
.footer-email-form h2 {margin-bottom: 2rem;
} 
#footer-email {width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
 
} 
#footer-email::placeholder {color: lightgray;}
#footer-email-btn {width: 100px;
      height: 40px;
      border-radius: 4px;
      background-color: red;
      outline: none;
      border: none;
      color:#fff;
      font-size: 1rem;
}     
#footer-email-btn:hover {cursor: pointer;
            background-color: #337af1;
            transform: all 0.4s ease-out;
}